* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #3f51b5;
  color: white;
  text-align: center;
}

.disable-mouse {
  pointer-events: none;
}

body.disable-scroll {
  overflow: hidden;
  height: 100%;
}

h3 {
  opacity: 0.85;
  cursor: pointer;
  transition: 0.25s ease;
  width: 33.333%;
  float: left;
  height: 19.999%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 30px;
  font-weight: 800;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#i {
  width: 16.666%;
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h3:hover {
  opacity: 1;
}

h3:nth-child(1),
.js-sidebar,
h3:nth-child(7),
.modal--7,
h3:nth-child(13),
.modal--13 {
  background: #f44336;
}

h3:nth-child(2),
.modal--2,
h3:nth-child(8),
.modal--8,
h3:nth-child(18),
.modal--18 {
  background: #ff9800;
}

h3:nth-child(3),
.modal--3,
h3:nth-child(9),
.modal--9,
h3:nth-child(14),
.modal--14 {
  background: #8bc34a;
}

h3:nth-child(4),
.js-dialog,
h3:nth-child(10),
.modal--10,
h3:nth-child(15),
.modal--15 {
  background: #009688;
}

h3:nth-child(5),
.modal--5,
h3:nth-child(11),
.modal--11 {
  background: #34495e;
}

h3:nth-child(6),
.modal--6,
h3:nth-child(19),
.modal--19 {
  background: #9b59b6;
}

h3:nth-child(12),
.modal--12 {
  background: #e91e63;
}

h3:nth-child(16),
.modal--16,
h3:nth-child(20),
.modal--20 {
  background: #3f51b5;
}

h3:nth-child(17),
.modal--17 {
  background: #795548;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 200ms ease;
  overflow: auto;
}

.modal-close-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 17px;
  margin: 10px 10px;
  font-size: 30px;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 50%;
}

.modal-close-btn:hover {
  opacity: 0.1;
  background: black;
}

.modal-close-btn:active {
  opacity: 0.2;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.sidebar {
  left: auto;
  width: 300px;
  padding-top: 80px;
  background: #27ae60;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 1;
  visibility: visible;
}

.sidebar.show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.4);
}

.sidebar__block:link,
.sidebar__block:visited {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.4em;
  text-align: left;
  font-weight: bold;
  transition: 0.3s ease;
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 15px;
}

.sidebar__block:hover {
  opacity: 1;
  background: #239e57;
}

.sidebar__block:active {
  opacity: 0.3;
}

.dialog {
  background: #e91e63;
  min-width: 300px;
  padding: 40px;
  left: 50%;
  right: auto;
  top: 20%;
  bottom: auto;
  box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
}

a:hover {
  opacity: 0.5;
}

.link--popup {
  display: block;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
}

.center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 100vh;
}

.device {
  position: relative;
  height: 760px;
  width: 396px;
  padding: 60px 10px;
  border-radius: 40px;
  background-color: #666;
}

iframe {
  width: 100%;
  height: 101%;
  border: 0;
}

.fr {
  width: 100%;
  height: 101%;
  border: 0;
}
